body{
    margin:0;
}
.container{
    display:grid;
    height:100vh;
    width: 100vw;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
      "header header header header"
      "sidebar main main main"
      "sidebar main main main"
      "sidebar main main main"
      "footer footer footer footer";
}
.header{
    background-color: rgb(42, 166, 37);
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color:rgb(114, 82, 37) ;
}
.sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar ul{
    display: flex;
    flex-direction: column-reverse;
}
.main{
    background-color: rgb(114, 82, 37);
    grid-area: main;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    "img img img"
    "img img img"
    "img img img"
    "img "
    ;
    column-gap: 1%;;
}
.img{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-items: center;   
}
img{
    height:15vh;
    width: 14vw;
}
.capy:hover{
    filter: blur(2px);
}
.croc:hover{
    filter: sepia(20%);
}
.peng:hover{
    filter: brightness(150%);
}
.sidebar{
    background-color: rgb(147, 117, 76);
    grid-area: sidebar;
}
.footer{
    background-color: rgb(42, 166, 37);
    grid-area:footer;
}

@media only screen and (max-width: 600px){
    .container{
        grid-template-areas: 
          "header header header header"
          "main main main main"
          "main main main main"
          "main main main main"
          "footer footer footer footer";
    }
    .sidebar{
        display:none;
    }
    .main{
        grid-template-columns: 100%;
        grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
        grid-template-areas: 
        "img"
        "img"
        "img"
        "img"
        "img"
        "img"
        "img"
        ;
        column-gap: 0;
    }
    .img{
        flex-direction: column;
    }
}